.flex-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul {
  background-color: #008cff;
  list-style-type: circle;
  justify-content: center;
}
